<div class="uk-section uk-postion-cover uk-section-muted fullscreen">
  <div class="uk-container">
    <div class="uk-grid-collapse uk-child-width-expand uk-text-center uk-width-1-1" uk-grid>
      <div class="uk-card uk-card-default link">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <img id="avatar" class="uk-border-circle" width="90" height="90" src="../public/res/self.png">
              <h3 class="uk-card-title uk-margin-remove-bottom">Chris Perceval-Maxwell</h3>
              <p class="uk-margin-remove-top">Full Stack Web Developer and Graphic Designer</p>
              <a target="_blank" href="https://www.google.co.uk/maps/place/Stonehouse/@55.6977969,-4.0037767,14z/data=!4m5!3m4!1s0x48881698eefe3d85:0xd471b39212c921d2!8m2!3d55.698739!4d-3.983908" class="uk-text-meta uk-button uk-button-text uk-text-capitalize uk-padding-small"><span class="uk-margin-small-right icon-middle" uk-icon="home"></span>Stonehouse, Scotand, United Kingdom</a>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <div class="uk-child-width-expand uk-text-center" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-placeholder; delay: 300; repeat: false" uk-grid>
            <div>
              <div class="uk-placeholder">
                <span uk-icon="icon: code; ratio: 2"></span>
                <h4 class="uk-margin-small">Skillset</h4>
                <p class="uk-text-small">Programming: Ruby, Ruby on Rails, Visual Basic, HTML5, Mustache HTML (Handlebars), CSS3, SASS, Javascript, jQuery, node.js, SQL.</p>
                <p class="uk-text-small">Design and Software: UI, UX, Photoshop CS6, Figma, SQl Workbench.</p>
              </div>
            </div>
            <div>
              <div class="uk-placeholder">
                <i class="material-icons icon-l">school</i>
                <h4 class="uk-margin-small">Education</h4>
                <p class="uk-text-small">Graduated Highschool at Shawlands Academy with 12As, 1B and 4 to be graded.</p>
                <p class="uk-text-small">Attending University of Edinburgh for BSc (Hons) Artifical Intelligence & Computer Science September 2018.</p>
              </div>
            </div>
            <div>
              <div class="uk-placeholder">
                <span uk-icon="icon: mail; ratio: 2"></span>
                <h4 class="uk-margin-small">Contact Me</h4>
                <p class="uk-text-small"><a target="_blank" href="https://github.com/cpuved" class="uk-text-meta uk-button uk-button-text uk-text-capitalize"></span>Github</a> - <a target="_blank" href="https://instagram.com/chris_jpm" class="uk-text-meta uk-button uk-button-text uk-text-capitalize"></span>Instagram</a>                  - <a target="_blank" href="https://instagram.com/cpudev" class="uk-text-meta uk-button uk-button-text uk-text-capitalize"></span>Instagram (Dev and Design)</a> - <a target="_blank" href="https://twitter.com/cpudev" class="uk-text-meta uk-button uk-button-text uk-text-capitalize"></span>Twitter</a>                  - <a target="_blank" href="https://steamcommunity.com/id/cpuplays/" class="uk-text-meta uk-button uk-button-text uk-text-capitalize"></span>Steam</a></p>
                <p class="uk-text-small">Email: chrispercevalmaxwell@gmail.com - Discord: cpu#8729 - Skype: chris_jpm (Rarely active)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-margin-large">
      <a class="rounded-btn uk-align-center" href="#section2" uk-scroll>Scroll down</a>
    </div>
  </div>
</div>

<div class="uk-section section-blue" id="section2">
  <div class="uk-container uk-text-center uk-margin-medium">
    <h3 class="text-white uk-margin-medium uk-margin-remove-top uk-text-large mono-font">Fun Stats</h3>
    <div class="uk-grid-match uk-child-width-1-3" uk-grid>
      <div>
        <span uk-icon="icon: code; ratio: 2" class="uk-margin-small text-lgrey uk-text-large" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;"></span>
        <h2 class="uk-margin-small text-white text-xl uk-text-bold">376</h2>
        <p class="uk-margin-small text-lgrey uk-text-uppercase" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">Commits to Github</p>
      </div>
      <div>
        <span uk-icon="icon: clock; ratio: 2" class="uk-margin-small text-lgrey uk-text-large" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;"></span>
        <h2 class="uk-margin-small text-white text-xl uk-text-bold">600+</h2>
        <p class="uk-margin-small text-lgrey uk-text-uppercase" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">Hours Programming and Designing</p>
      </div>
      <div>
        <span class="uk-margin-small text-lgrey uk-text-large" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px"
          	 height="40px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
          <g id="Bounding_Boxes">
          	<path fill="none" d="M0,0h24v24H0V0z"/>
          </g>
          <g id="Outline">
          	<g id="ui_x5F_spec_x5F_header" display="none">
          	</g>
          	<g>
          		<rect x="4" y="19" fill="#ebebeb" width="16" height="2"/>
          		<path d="M20,3H4v10c0,2.21,1.79,4,4,4h6c2.21,0,4-1.79,4-4v-3h2c1.11,0,2-0.9,2-2V5C22,3.89,21.11,3,20,3z M16,13c0,1.1-0.9,2-2,2
          			H8c-1.1,0-2-0.9-2-2V5h10V13z M20,8h-2V5h2V8z" fill="#ebebeb" />
          	</g>
          </g>
          </svg>
        </span>
        <h2 class="uk-margin-small text-white text-xl uk-text-bold">3000+</h2>
        <p class="uk-margin-small text-lgrey uk-text-uppercase" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">Cuppas Drank</p>
      </div>
    </div>
  </div>
</div>

<div class="container-xl" id="section3">
  <div class="uk-section uk-text-center" uk-scrollspy="cls: uk-animation-fade; target: > div > div; delay: 200; repeat: false">
    <h3 class="uk-text-lead uk-margin-medium uk-margin-remove-top uk-margin-large-bottom uk-text-large mono-font uk-text-center">Education and Projects</h3>
    <div class="uk-child-width-1-4 uk-flex-center" uk-grid>
      <div>
        <div class="uk-light uk-background-secondary uk-padding uk-box-shadow-medium">
          <h4 class="uk-margin-remove"><i class="material-icons icon-l">school</i></h4>
          <h4 class="uk-margin-small">Shawlands Academy Highschool</h4>
          <p>I studied at Shawlands Academy from S1 (Year 1) through to S6. I sat 8 National 5s, 7 Highers and 2 Advanced Highers.</p>
          <a class="uk-button uk-button-default" uk-scroll href="#shawlandsacademy">Read More</a>
        </div>
      </div>
      <div>
        <div class="uk-light uk-background-secondary uk-padding uk-box-shadow-medium">
          <h4 class="uk-margin-remove"><i class="material-icons icon-l">school</i></h4>
          <h4 class="uk-margin-small">University of Edinburgh</h4>
          <p>I received an unconditional offer for BSc (Hons) Artifical Intelligence & Computer Science. I start 1st Septemeber 2018.</p>
          <a class="uk-button uk-button-default" uk-scroll href="#uofe">Read More</a>
        </div>
      </div>
    </div>

    <div class="uk-child-width-1-4 uk-flex-center" uk-grid>
      <div>
        <div class="uk-dark uk-background-muted uk-padding uk-box-shadow-medium">
          <h4 class="uk-margin-remove"><span uk-icon="icon: code; ratio: 2"></span></h4>
          <h4 class="uk-margin-small">Shawlands Academy Website</h4>
          <p>I redesigned my highschool's website using Wordpress for Glasgow Blogs.</p>
          <a class="uk-button uk-button-default" uk-scroll href="#saweb">Read More</a>
        </div>
      </div>
      <div>
        <div class="uk-dark uk-background-muted uk-padding uk-box-shadow-medium">
          <h4 class="uk-margin-remove"><span uk-icon="icon: code; ratio: 2"></span></h4>
          <h4 class="uk-margin-small">SmartCasual Studios.</h4>
          <p>A website to adverstise the company I built for the Young Enterprise Scotland.</p>
          <a class="uk-button uk-button-default" uk-scroll href="#scs">Read More</a>
        </div>
      </div>
      <div>
        <div class="uk-dark uk-background-muted uk-padding uk-box-shadow-medium">
          <h4 class="uk-margin-remove"><span uk-icon="icon: code; ratio: 2"></span></h4>
          <h4 class="uk-margin-small">Swimming Realy Order Claculator</h4>
          <p>Project for my Adv. Higher CS. Showcases my extensive knowledge on web dev.</p>
          <a class="uk-button uk-button-default" uk-scroll href="#sroc">Read More</a>
        </div>
      </div>
    </div>

    <div class="uk-child-width-1-4 uk-flex-center" uk-grid>
      <div>
        <div class="uk-dark uk-background-muted uk-padding uk-box-shadow-medium">
          <h4 class="uk-margin-remove"><span uk-icon="icon: code; ratio: 2"></span></h4>
          <h4 class="uk-margin-small">Lanturn</h4>
          <p uk-tooltip="Lost backend so put all my frontend work I had backed up in a repo.">Lets users create lobbies to advertise a LAN party on a map (Not functional). Made in YRS 2016.</p>
          <a class="uk-button uk-button-default" uk-scroll href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-background-muted">
  <div class="container-l link" id="section4">
    <div class="uk-section section-default">
      <div class="uk-text-left" uk-grid>
        <div class="uk-width-1-2" id="shawlandsacademy">
          <br>
          <br>
          <i class="material-icons icon-l uk-align-left" uk-tooltip="Education">school</i>
          <div class="uk-align-left">
            <h4 class="uk-margin-remove-bottom">Shawlands Academy <small><a target="_blank" href="http://www.shawlandsacademy.glasgow.sch.uk/" class="coloured-link uk-button-text">Website</a></small></h4>
            <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span class="uk-margin-small-right icon-middle" uk-icon="calendar"></span>Auguest 2012 - June 2018</p>
            <p class="uk-text-meta uk-text-capitalize uk-margin-small-top"><span class="uk-margin-small-right icon-middle" uk-icon="location"></span>Glasgow, Scotand, United Kingdom</p>
            <br>
            <p class="uk-margin-remove">Advanced Higher: <span class="uk-text-success">90/90 CS Assignment</span> <a target="_blank" href="https://github.com/cpuved/swimming-relay-order-calculator/" class="uk-text-top  " uk-tooltip="My Git Repo for my project."><span class="uk-margin-small-right icon-middle" uk-icon="icon: github-alt; ratio: 0.8"></span></a>
              <span class="uk-text-muted uk-text-small">(Maths & CS TBC)</span>
            </p>
            <p class="uk-margin-remove">Higher: <span uk-tooltip="Maths, English, Computer Science, Geography." class="uk-text-success">4As</span> & <span uk-tooltip="Physics." class="uk-text-primary">1B</span> <span class="uk-text-muted uk-text-small">(Photography & Graphic Communications TBC)</span></p>
            <p class="uk-margin-remove">National 5: <span uk-tooltip="Maths, English, Computer Science, Physics, Geography, Spanish, P.E., Art & Design." class="uk-text-success">8As</span></p>
            <p class="uk-margin-remove">Other: <span class="uk-text-primary">ORC Level 3 Cirtificate for Young Enterprise - Pass</span></p>
          </div>
        </div>
        <div class="uk-width-expand" id="uofe">
          <br>
          <br>
          <i class="material-icons icon-l uk-align-left" uk-tooltip="Education">school</i>
          <div class="uk-align-left">
            <h4 class="uk-margin-remove-bottom">University of Edinburgh <small><a target="_blank" href="https://www.ed.ac.uk/" class="coloured-link uk-button-text">Website</a></small></h4>
            <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span class="uk-margin-small-right icon-middle" uk-icon="calendar"></span>September 2018 - Present</p>
            <p class="uk-text-meta uk-text-capitalize uk-margin-small-top"><span class="uk-margin-small-right icon-middle" uk-icon="location"></span>Edinburgh, Scotand, United Kingdom</p>
            <br>
            <p class="uk-margin-remove">BSc (Hons) Artifical Intelligence & Computer Science</p>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-text-left" uk-grid>
      <div class="uk-width-1-2" id="saweb">
        <br>
        <br>
        <span class="icon-middle uk-align-left" uk-icon="icon: code; ratio: 2" uk-tooltip="Project"></span>
        <div class="uk-align-left">
          <h4 class="uk-margin-remove-bottom">Shawlands Academy Website <small><a target="_blank" href="http://www.shawlandsacademy.glasgow.sch.uk/" class="coloured-link uk-button-text" uk-tooltip="New version still to be hosted.">Website</a></small></h4>
          <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span class="uk-margin-small-right icon-middle" uk-icon="calendar"></span>January 2017 - June 2017</p>
          <p class="uk-text-meta uk-text-capitalize uk-margin-small-top"><span class="uk-margin-small-right icon-middle" uk-icon="location"></span>Glasgow, Scotand, United Kingdom</p>
          <br>
          <p class="uk-margin-remove">As a part of the Young Enterprise program my team and I built a company where we made graphics and websites for consumers. One of our clients was our school (Shawlands Academy), who asked us to create a new website using the Glasgow Blogs system
            a version of Wordpress with restrictions put in place by Glasgow City Counsil. I was able to modify the theme enough to give is uniqueness. The website is used for teachers and staff to write short articles for their subject or a general school
            event, that also allows media to be included. As Lead Designer and extensive knowledge of website developemnt, I took on more than the majoiry of the work load.</p>
        </div>
      </div>
      <div class="uk-width-expand">
        <!-- images -->
      </div>
    </div>

    <div class="uk-text-left" uk-grid>
      <div class="uk-width-1-2" id="scs">
        <br>
        <br>
        <span class="icon-middle uk-align-left" uk-icon="icon: code; ratio: 2" uk-tooltip="Project"></span>
        <div class="uk-align-left">
          <h4 class="uk-margin-remove-bottom">SmartCasual Studios. <small><a target="_blank" href="" class="coloured-link uk-button-text" uk-tooltip="Still to be hosted.">Website</a></small></h4>
          <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span class="uk-margin-small-right icon-middle " uk-icon="calendar"></span>September 2016 - January 2017</p>
          <p class="uk-text-meta uk-text-capitalize uk-margin-small-top"><span class="uk-margin-small-right icon-middle" uk-icon="location"></span>Glasgow, Scotand, United Kingdom</p>
          <br>
          <p class="uk-margin-remove">As a part of the Young Enterprise program my team and I built a company where we made graphics and websites for consumers. This is the website I created, with help from <a href="https://twitter.com/cj1mckay/" target="_blank" class="coloured-link uk-button-text">Christopher McKay</a>,
            to advertise our services and present to clients. I used the <a href="https://materializecss.com/" target="_blank" class="coloured-link uk-button-text">Materialize CSS framework</a> and all graphic images are my own.</p>
          <p><a target="_blank" href="https://github.com/cpuved/SmartCasualStudios/" class="uk-button-text"><span class="uk-margin-small-right icon-middle" uk-icon="github-alt"></span>Git Repo</a></p>
        </div>
      </div>
      <div class="uk-width-expand">
        <!-- images -->
      </div>
    </div>

    <div class="uk-text-left" uk-grid>
      <div class="uk-width-1-2" id="sroc">
        <br>
        <br>
        <span class="icon-middle uk-align-left uk-visible" uk-icon="icon: code; ratio: 2" uk-tooltip="Project"></span>
        <div class="uk-align-left">
          <h4 class="uk-margin-remove-bottom">Swimming Relay Order Calculator <small><a target="_blank" href="http://sroc-app.herokuapp.com/" class="coloured-link uk-button-text" uk-tooltip="Feel free to try out all the site's features!">Website</a></small></h4>
          <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span class="uk-margin-small-right icon-middle " uk-icon="calendar"></span>September 2017 - March 2018</p>
          <p class="uk-text-meta uk-text-capitalize uk-margin-small-top"><span class="uk-margin-small-right icon-middle" uk-icon="location"></span>Glasgow, Scotand, United Kingdom</p>
          <br>
          <p class="uk-margin-remove">This was my project for my Advanced Higher Computer Science Assignemnt - for which I was awared full marks. This webiste allowed users to submit a Swimmer's details (Names, Age, Gender, P.B.s, etc) to a database, view all swimmers on the database
            then calcualte all different types of relays (Bar mixed gender relay). No frmaeworks were used and all graphic images and icons are my own.</p>
          <p><a target="_blank" href="https://github.com/cpuved/Swimming-Relay-Order-Calculator/" class="uk-button-text"><span class="uk-margin-small-right icon-middle" uk-icon="github-alt"></span>Git Repo</a></p>
        </div>
      </div>
      <div class="uk-width-expand">
        <!-- images -->
      </div>
    </div>

    <div class="uk-text-left" uk-grid>
      <div class="uk-width-1-2" id="sroc">
        <br>
        <br>
        <span class="icon-middle uk-align-left uk-visible" uk-icon="icon: code; ratio: 2" uk-tooltip="Project"></span>
        <div class="uk-align-left">
          <h4 class="uk-margin-remove-bottom">Lanturn <small><a target="_blank" href="" class="coloured-link uk-button-text" uk-tooltip="Still to be hosted.">Website</a></small></h4>
          <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span class="uk-margin-small-right icon-middle " uk-icon="calendar"></span>July 2016</p>
          <p class="uk-text-meta uk-text-capitalize uk-margin-small-top"><span class="uk-margin-small-right icon-middle" uk-icon="location"></span>Glasgow, Scotand, United Kingdom</p>
          <br>
          <p class="uk-margin-remove">This project was developed in 1 week for the hackathon called Young Rewired State. It allows users to create a profile by logging in with twitter, then create or join LAN parties. LAN parties that have already been made appear on the map on the home screen. When you click on a party you can see all the information.</p>
          <p><a target="_blank" href="https://github.com/cpuved/Lanturn/" class="uk-button-text"><span class="uk-margin-small-right icon-middle" uk-icon="github-alt"></span>Git Repo</a></p>
        </div>
      </div>
      <div class="uk-width-expand">
        <!-- images -->
      </div>
    </div>
  </div>
  <br>
  <br>
</div>

<footer>
  <div class="uk-section background-orange uk-text-center uk-align-center text-white uk-text-medium uk-margin-remove">
    <a href="#" uk-scroll><img src="../public/res/cpu2.png" height="120px" width="120px" uk-tooltip="Back to top!"></a>
    <p>&copy; 2018 Chris Perceval-Maxwell</p>
  </div>
</footer>
