<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{{domain}}} {{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/uikit/css/uikit.min.css" />
    <script src="../public/uikit/js/uikit.min.js"></script>
    <script src="../public/uikit/js/uikit-icons.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="icon" href="../public/res/favicon.png" type="image/png">
  </head>

  <body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="../public/js/main.js"></script>
    <script type="text/javascript" src="../public/js/animation.js"></script> -->
    <main>
      {{{body}}}
    </main>
  </body>
</html>
