.card-link a {
  color: #666;
}
.card-link a:hover {
  color: rgb(163, 129, 70) !important;
}
.uk-accordion-title::after {
  color: rgb(163, 129, 70) !important;
}
.card-link .uk-button-text::before {
  border-bottom-color: rgb(163, 129, 70) !important;
}
.coloured-link {
  color: rgb(163, 129, 70) !important;
}
i.icon-l {
  font-size: 2.2rem;
}
.uk-link:hover, a:hover {
  text-decoration: none !important;
}
.icon-middle svg {
  position: relative;
  margin-top: -7px;
}
.uk-accordion-title {
  display: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  color: inherit !important;
}
