.link a {
  color: #333;
}
.link a:hover {
  color: rgb(163, 129, 70);
}
.link .uk-button-text::before {
  border-bottom-color: rgb(163, 129, 70);
}
.coloured-link {
  color: rgb(163, 129, 70) !important;
}
i.icon-l {
  font-size: 2.2rem;
}
.uk-link:hover, a:hover {
  text-decoration: none !important;
}
.icon-middle svg {
  position: relative;
  margin-top: -7px;
}
.uk-accordion-title {
  display: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  color: inherit !important;
}
.section-blue {
  background-color: #6BA099;
}
.text-white {
  color: #fff;
}
.text-lgrey {
  color: #ebebeb !important;
}
.text-xl {
  font-size: 3rem;
}
.material-icons.material-icons--outline {
  font-family: 'Material Icons Outline';
}
.mono-font {
  font-family: 'Space Mono', monospace;
}
.fullscreen {
  min-height: 100vh;
}
.rounded-btn {
  background: #6BA099;
  background: -moz-linear-gradient(left, #6BA099 0%, #86c2ba 100%);
  background: -webkit-linear-gradient(left, #6BA099 0%,#86c2ba 100%);
  background: linear-gradient(to right, #6BA099 0%,#86c2ba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6BA099', endColorstr='#86c2ba',GradientType=1 );
  color: #fff !important;
  border: 1px solid transparent;
  margin: 0;
  border: none;
  border-radius: 20px;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  transition: .2s ease-in-out;
}
.dropshadow {
  -webkit-box-shadow: 0px 4px 14px 2px rgba(0,0,0,0.09);
  -moz-box-shadow: 0px 4px 14px 2px rgba(0,0,0,0.09);
  box-shadow: 0px 4px 14px 2px rgba(0,0,0,0.09);
}
.rounded-btn:not(:disabled) {
  cursor: pointer;
}
.rounded-btn:hover {
  transform: scale(1.22);
}
.rounded-btn:active {
  background: #95bdb7;
  background: -moz-linear-gradient(left, #95bdb7 0%, #ade2db 100%);
  background: -webkit-linear-gradient(left, #95bdb7 0%,#ade2db 100%);
  background: linear-gradient(to right, #95bdb7 0%,#ade2db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95bdb7', endColorstr='#ade2db',GradientType=1 );
}
.uk-placeholder:hover span, .uk-placeholder:hover i {
  color: #6BA099;
}
.container-xl {
  box-sizing: content-box;
  /* 1 */
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#section4 p{
  width: 575px;
}
.background-orange {
  background-color: rgb(219, 205, 181);
}
footer {
  font-size: 1.2rem;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(219, 205, 181);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(163, 129, 70);
}

@media only screen and (max-width: 1661px) {
  #section3 div div div h4 {
    height: 55px;
  }
  #section3 div div div p {
    height: 90px;
  }
}

@media only screen and (max-width: 1240px) {
  #section3 div div div h4 {
    height: 55px;
  }
  #section3 div div div p {
    height: 190px;
  }
  #section4 {
    width: 600px;
  }
}

@media only screen and (max-width: 905px) {
  #section3 div div div h4 {
    height: 70px;
  }
  #section3 div div div p {
    height: 200px;
  }
}
